* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(250, 6, 6);
    --secondary-color:rgb(0, 0, 0);
    --tertiary-color:black;
}

body {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;

}

header {
    padding: 10px 35px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
    text-decoration: none;
    color: var(--primary-color);
  }
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-size: 3.00vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: white;
    border-radius: 15px;
    text-shadow: none;
  }

  .hero {
      width: 100%;
      font-size: 50px;
  }

  .aboutthePM {
      display: flex;
      padding: 50px;
  }
    .PMImage {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

  img {
    width: 600px;
  }

  .content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 70px;
    align-items: center;
  }
  
  .images {
    margin: 50px;
  } 

  .JFK, .TR, .FDR, .AL, .GWB, .CN, .ST, .SJ, .FG, .WM, .CA, .BP, .Hulk, .IM {
      margin: 30px
  }

  .JFK {
    background-image: url(../Images/JFK.png);
    height: 100px;
    width: 100px;
    background-size: cover;
    opacity: .5;
  }

  .JFK:hover{
      opacity: 1;
  }
  .FDR {
    background-image: url(../Images/FDR.png);
    height: 100px;
    width: 100px;
    background-size: cover;
    opacity: .5;
    padding-left: 45px;
}
    .FDR:hover{
        opacity: 1;
    }
  .GWB {
    background-image: url(../Images/GWB.png);
    height: 100px;
    width: 100px;
    background-size: cover;
    opacity: .5;
  }

  .GWB:hover{
      opacity: 1;
  }
  .AL {
    background-image: url(../Images/AL.png);
    height: 100px;
    width: 100px;
    background-size: cover;
    opacity: .5;
}
    .AL:hover{
        opacity: 1;
    }
  .TR {
    background-image: url(../Images/TR.png);
    height: 100px;
    width: 100px;
    background-size: cover;
    opacity: .5;
}
    .TR:hover{
        opacity: 1;
    }
  .BP {
    background-image: url(../Images/BP.png);
    height: 100px;
    width: 100px;
    background-size: cover;
    opacity: .5;
}
    .BP:hover{
        opacity: 1;
    }
  .CA {
    background-image: url(../Images/CA.png);
    height: 100px;
    width: 100px;
    background-size: cover;
    opacity: .5;
}
    .CA:hover{
        opacity: 1;
    }
  .CN {
    background-image: url(../Images/CN.png);
    height: 100px;
    width: 100px;
    background-size: cover;
    opacity: .5;
}
    .CN:hover{
        opacity: 1;
    }
  .FG {
    background-image: url(../Images/Fergie.png);
    height: 100px;
    width: 100px;
    background-size: cover;
    opacity: .5;
  }

  .FG:hover{
      opacity: 1;
  }
  .Hulk {
    background-image: url(../Images/Hulk.png);
    height: 100px;
    width: 100px;
    background-size: cover;
    opacity: .5;
}
    .Hulk:hover{
        opacity: 1;
    }
  .IM {
    background-image: url(../Images/IM.png);
    height: 100px;
    width: 100px;
    background-size: cover;
    opacity: .5;
}
    .IM:hover{
        opacity: 1;
    }
  .SJ {
    background-image: url(../Images/S.png);
    height: 100px;
    width: 100px;
    background-size: cover;
    opacity: .5;
}
    .SJ:hover{
        opacity: 1;
    }
  .ST {
    background-image: url(../Images/ST.png);
    height: 100px;
    width: 100px;
    background-size: cover;
    opacity: .5;
}
    .ST:hover{
        opacity: 1;
    }
  .WM {
    background-image: url(../Images/Wanda.png);
    height: 100px;
    width: 100px;
    background-size: cover;
    opacity: .5;
}
    .WM:hover{
        opacity: 1;
    }

